.friendlist {
  text-align: center;
  margin: 20px auto;
  border: 1px solid blue;
  width: 400px;
  list-style: none;
}

.item {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  background-color: grey;
  border-bottom: 1px solid black;
}

.name {
  color: white;
  font-weight: bold;
  margin: 0 auto;
}
