.transactionhistory {
  text-align: center;
  width: 400px;
  background-color: #fff;
  margin: 0 auto;
  border: 1px solid blue;
  
}

th {
    border: 1px solid grey;
    background-color: #00bcd4;
    color: white;
    font-weight: 600;
    font-size: 15px;
    padding: 5px 0 5px 0;
  }

  td {
    border: 1px solid grey;
    font-weight: 300;
    font-size: 13px;
    padding: 5px 0 5px 0;
  }

  tr:nth-child(even) {
    background-color: rgb(199, 244, 190);
  }
